
:root {
  /* colors */
  --color-primary: #FD377E;
  --color-primary-2: #E34981;
  --color-secondary: #03B898;

  --grey-1: #F8F9FA;
  --grey-2: #E9ECEF;
  --grey-3: #868E96;
  --grey-4: #212529;
  
}


/* texts */
.title1 {
  font-family: Nunito;
  font-size: 38px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;

  color: var(--grey-4);
}

.title2 {
  font-family: Nunito;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;

  color: var(--grey-4);
}

.title3 {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;

  color: var(--grey-4);
}

.title4 {
  font-family: Nunito;
  font-size: 12px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;

  color: var(--grey-4);
}

.headline {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;

  color: var(--grey-3);
}

.body {
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

  color: var(--grey-3);
}

.caption {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 18px;

  color: #000000;
}